.product-list {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.product-list__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
    padding: 0 16px;
    border-bottom: 1px solid #000;
}

.product-list__button {
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
    color: #808080;
}

.product-list__button.is-active {
    color: #ff0000;
}

.product-list__title--item {
    font-size: 20px;
    font-weight: bold;
}

.product-list__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.product-list__content--item {
    width: 200px;
    position: relative;
    display: inline-block;
}

.product-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.product-list__content--img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.sold-badge {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 20px;
    width: 80%;
    text-align: center;
}